<div class="pagination-links">
  <div>
    {% if prev_i < 0 %}
      <a class="grayed-out" disabled="true">
        <span>Previous {{ page.type | capitalize }}</span>
      </a>
    {% else %}
      <a href="{{ sorted_pages[prev_i].url | relative_url }}">
        ⇦ <span>Previous {{ page.type | capitalize }}</span>
      </a>
    {% endif %}
  </div>
  <div>
    {% if page.book_title %}
      {% assign this_book = page.book_title %}
      {% assign full_book = site.pages | where_exp: "page", "page.book_title == this_book" | where_exp: "page", "page.type == chapter" %}
        {% for page in full_book %}
          <a href="{{ page.url | relative_url }}">
            {{ page.book_title }}
          </a>
        {% endfor %}
      {% if page.book_title and page.chapter_number %}
      <span class="separator">|</span>
      {% endif %}

    {% elsif page.title %}
      {% assign this_category = page.title | capitalize %}
     {% if this_category != page.title %}
        {% if page.category == "documentation" %}<a href="{{ page.category | relative_url }}">{{ page.category | capitalize }}</a> | {% else %}{{ this_category }} | {% endif %}
     {{ page.title }}
     {% endif %}
    {% endif %}
    <span class="chapter-title">{{ page.title }}</span>
  </div>
  <div>
    {% if num_of_pages > next_i %}
      <a href="{{ sorted_pages[next_i].url | relative_url }}">
          <span>Next {{ page.type | capitalize }}</span> ⇨
      </a>
    {% else %}
      <a class="grayed-out" disabled="true">
          <span>Next {{ page.type | capitalize }}</span>
      </a>
    {% endif %}
  </div>
</div>